:root {
  --photo-x-position: 61%;
  --photo-y-position: 50%;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: var(--photo-x-position) var(--photo-y-position);
  display: block;
  margin: 20px auto;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.profile-photo:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/*Embla*/
.embla {
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  margin-left: -8px;  /* compensate padding */
}

.embla__slide {
  flex: 0 0 80%;
  padding-left: 16px;
}

.embla__slide img {
  width: 100%;
  border-radius: 12px;
}